body {
    background: linear-gradient(to right, #633363, #000000);
    font-family: 'Courier New', Courier, monospace;
}
#formulario {
    background-color: #313131;
    max-width: 550px;
    padding: 10px;
    border-radius: 20px 0px;
    box-shadow: 1px 1px 10px;
    flex-wrap: wrap;

    

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dados {
    outline: 0;
    background: linear-gradient(to left, #633363, #000000);
    color: #fff;
    border: solid 1px #fff;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
}

.dados::placeholder {
    color: #fff;
}
.dados::selection {
    color: yellow;
    background-color: yellow;


}

hr {
    background-color: #ee82ee;
    max-width: 20%;
    margin-top: 20px;
    transition: all;
    transition-duration: 800ms;
}

hr:hover {
    max-width: 40%;
    transition: all;
    transition-duration: 800ms;
}

.caixa_botao {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.botao {
    outline: 0;
    background: linear-gradient(to left, #633363, #000000);
    cursor: pointer;
    color: #fff;
    border: solid 1px #fff;
    padding: 8px;
    border-radius: 10px;
    transition: all;
    transition-duration: 200ms;
}

.botao:hover {
    transition: all;
    transition-duration: 200ms;
    padding: 10px;
}

#table-c {
    background-color: #313131;
    max-width: 800px;
    padding: 10px;
    border-radius: 20px 0px;
    box-shadow: 1px 1px 10px;
    flex-wrap: wrap;
    display: none;
    overflow: scroll;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table, td {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    min-width: 50px;
    border: solid 1px;
    color: #fff;
    margin-bottom: 10px;
}

.lixeira:hover {
    cursor: pointer;
    width: 25px;
}

#botao-complemento {
    display: block;
}

#texto-complemento {
    display: none;
}

.menu {
    background-color: violet;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px;
    color: #fff;
    cursor: pointer;
    transition: all;
    transition-duration: 800ms;
    
    position: fixed;
    top: 12%;
    right: 60%;
    transform: (translate(-12%, -60%));
}

.menu:hover {
    padding: 8px;
    transition: all;
    transition-duration: 800ms;
}